#transition-container, #anotherButton {
  border:5px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button{
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  transition: transform .3s ease-in-out;

}
#o1:hover {
  transform:scale(1.2);
}

#o2:hover{
  transform:scale(0.6);
}